
@{
    ViewBag.Title = "EmailLogin";
}
<!--
    
    Application Id
    940920d3-6190-446e-9a48-aa0226a7837f

    https://apps.dev.microsoft.com/#/application/940920d3-6190-446e-9a48-aa0226a7837f
    application secrets or password for the app:
    V9afpqughmEKUUOoSicHpTc
-->
<div class="jumbotron">
    <h1>Niagara College Safety Inspections</h1>
    <p class="lead">Log-in using your Niagara College Outlook credentials.</p>
    <p><a href="@Url.Action("SignIn", "Home", null, Request.Url.Scheme)" class="btn btn-primary btn-lg">Click here to login</a></p>
</div>
