@model TeamI.ViewModel.SearchVM
@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    @{
        if (!User.Identity.IsAuthenticated)
        {
            <style>
                .carouselcolour{
                    background-color: white;
                }
            </style>
            <div>              
                <div id="ncImgCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#ncImgCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#ncImgCarousel" data-slide-to="1"></li>
                        <li data-target="#ncImgCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active carouselcolour">
                            <img src="~/Images/NiagaraCollegeMediaTrades.png" alt="ncMttLogo" />
                        </div>
                        <div class="item carouselcolour">
                            <img src="~/Images/SafetyHeaderGeneric1.png" alt="Generic Safety Photo" />
                        </div>
                        <div class="item carouselcolour">
                            <img src="~/Images/PPE.png" alt="Personal Protective Equipment" />
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#ncImgCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#ncImgCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        }
        if (User.Identity.IsAuthenticated)
        {
            
            <div class="section" style="margin-bottom:10px;">
                <h2>This Months Inspections</h2>
                <div class="row" id="dataCircles">
                    <div class="col-xs-4">
                        <div id="circle1" data-animation="1" data-animationStep="5" data-percent="25" ></div>
                    </div>
                    <div class="col-xs-4">
                        <div id="circle2" data-animation="1" data-animationStep="5" data-percent="2"></div>
                    </div>
                    <div class="col-xs-4">
                        <div id="circle3" data-animation="1" data-animationStep="5" data-percent="27"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="section">
                        <h2>Upcoming Inspections</h2>
                        <hr />
                        <div id="table-wrapper">
                            <div id="table-scroll">
                                <table class="table-cust" style="height:150px;overflow:auto;">
                                    <thead>
                                        <tr>
                                            <th>Lab</th>
                                            <th>Location</th>
                                            <th>Scheduled</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>TC02</td>
                                            <td>s201</td>
                                            <td>2017/07/12</td>
                                        </tr>
                                        <tr>
                                            <td>TC12</td>
                                            <td>s204</td>
                                            <td>2017/09/16</td>
                                        </tr>
                                        <tr>
                                            <td>TC12</td>
                                            <td>s204</td>
                                            <td>2017/09/16</td>
                                        </tr>
                                        <tr>
                                            <td>TC12</td>
                                            <td>s204</td>
                                            <td>2017/09/16</td>
                                        </tr>
                                        <tr>
                                            <td>TC12</td>
                                            <td>s204</td>
                                            <td>2017/09/16</td>
                                        </tr>
                                        <tr>
                                            <td>TC12</td>
                                            <td>s204</td>
                                            <td>2017/09/16</td>
                                        </tr>
                                        <tr>
                                            <td>TC12</td>
                                            <td>s204</td>
                                            <td>2017/09/16</td>
                                        </tr>
                                        <tr>
                                            <td>TC12</td>
                                            <td>s204</td>
                                            <td>2017/09/16</td>
                                        </tr>
                                        <tr>
                                            <td>TC12</td>
                                            <td>s204</td>
                                            <td>2017/09/16</td>
                                        </tr>
                                        <tr>
                                            <td>TC12</td>
                                            <td>s204</td>
                                            <td>2017/09/16</td>
                                        </tr>
                                        <tr>
                                            <td>TC12</td>
                                            <td>s204</td>
                                            <td>2017/09/16</td>
                                        </tr>
                                        <tr>
                                            <td>TC12</td>
                                            <td>s204</td>
                                            <td>2017/09/16</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-xs-6" style="padding-left: 0px;">
                    <div class="section">
                        <h2>Corrective Action Required</h2>
                        <hr />
                        <table class="table-cust">
                            <tr>
                                <th>Title</th>
                                <th></th>
                                <th>By</th>
                            </tr>
                            <tr>
                                <td>Electrical</td>
                                <td>No hanging wires in...</td>
                                <td>Jim</td>
                            </tr>
                            <tr>
                                <td>Automotive</td>
                                <td>Oil spills must be....</td>
                                <td>Sarah</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>





        }
        else
        {
        }

    }

</div>
@*<div class="container">

        <div>

        </div>

        <div class="section">
            <div class="row" id="dataCircles">
                <div class="col-xs-4">
                    <div id="circle1" data-animation="1" data-animationStep="5" data-percent="@ViewBag.SafetyPercentage"></div>
                </div>
                <div class="col-xs-4">
                    <div id="circle2" data-animation="1" data-animationStep="5" data-percent="97"></div>
                </div>
                <div class="col-xs-4">
                    <div id="circle3" data-animation="1" data-animationStep="5" data-percent="33"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="section">
                    <h2>Quick Inspection</h2>
                    <hr />
                    <div id="table-wrapper">
                        <div id="table-scroll">
                            <table class="table-cust" style="height:150px;overflow:auto;">
                                <thead>
                                    <tr>
                                        <th>Lab</th>
                                        <th>Location</th>
                                        <th>Scheduled</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>TC02</td>
                                        <td>s201</td>
                                        <td>2017/07/12</td>
                                    </tr>
                                    <tr>
                                        <td>TC12</td>
                                        <td>s204</td>
                                        <td>2017/09/16</td>
                                    </tr>
                                    <tr>
                                        <td>TC12</td>
                                        <td>s204</td>
                                        <td>2017/09/16</td>
                                    </tr>
                                    <tr>
                                        <td>TC12</td>
                                        <td>s204</td>
                                        <td>2017/09/16</td>
                                    </tr>
                                    <tr>
                                        <td>TC12</td>
                                        <td>s204</td>
                                        <td>2017/09/16</td>
                                    </tr>
                                    <tr>
                                        <td>TC12</td>
                                        <td>s204</td>
                                        <td>2017/09/16</td>
                                    </tr>
                                    <tr>
                                        <td>TC12</td>
                                        <td>s204</td>
                                        <td>2017/09/16</td>
                                    </tr>
                                    <tr>
                                        <td>TC12</td>
                                        <td>s204</td>
                                        <td>2017/09/16</td>
                                    </tr>
                                    <tr>
                                        <td>TC12</td>
                                        <td>s204</td>
                                        <td>2017/09/16</td>
                                    </tr>
                                    <tr>
                                        <td>TC12</td>
                                        <td>s204</td>
                                        <td>2017/09/16</td>
                                    </tr>
                                    <tr>
                                        <td>TC12</td>
                                        <td>s204</td>
                                        <td>2017/09/16</td>
                                    </tr>
                                    <tr>
                                        <td>TC12</td>
                                        <td>s204</td>
                                        <td>2017/09/16</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xs-4" style="padding-left: 0px;">
                <div class="section">
                    <h2>Alerts!</h2>
                    <hr />
                    <table class="table-cust">
                        <tr>
                            <th>Title</th>
                            <th></th>
                            <th>By</th>
                        </tr>
                        <tr>
                            <td>Electrical</td>
                            <td>No hanging wires in...</td>
                            <td>Jim</td>
                        </tr>
                        <tr>
                            <td>Automotive</td>
                            <td>Oil spills must be....</td>
                            <td>Sarah</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>




    </div>*@