@{
    ViewBag.Title = "Home Page";
}

   
    <div class="row">
       <div class="col-md-4">
           <h2 class="table-headings alert alert-info">Upcoming Inspections</h2>
           <hr />

           @*SAMPLE DATA ONLY*@
           <table class="table-hover" style="width:100%">
               <tr>
                   <th>Lab</th>
                   <th>Inspector</th>
                   <th>Date</th>
                   <th>Days Until</th>
               </tr>
               <tr>
                   <td>Automotive - TCO2</td>
                   <td>Smith</td>
                   <td>2017/01/19</td>
                   <td>10</td>
               </tr>
               <tr>
                   <td>Electrical - TC76</td>
                   <td>Jackson</td>
                   <td>2017/05/22</td>
                   <td>6</td>
               </tr>
           </table>
           </div>
           @*--------------*@
      
        <div class="col-md-4">
            <h2 class="table-headings alert alert-warning">Past Due</h2>
            <hr />
            @*SAMPLE DATA ONLY*@
            <table class="table-hover" style="width:100%">
                <tr>
                    <th>Lab</th>
                    <th>Inspector</th>
                    <th>Schduled</th>
                    <th>Days late</th>
                </tr>
                <tr>
                    <td>Automotive - TCO2</td>
                    <td>Smith</td>
                    <td>2017/01/19</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Electrical - TC76</td>
                    <td>Jackson</td>
                    <td>2017/05/22</td>
                    <td>7</td>
                </tr>
            </table>
            </div>
            @*--------------*@
        <div class="col-md-4">

            <h2 class="table-headings alert alert-danger">Needs Attention</h2>

            <hr />
            @*SAMPLE DATA ONLY*@
            <table class="table-hover" style="width:100%">
                <tr>
                    <th>Lab</th>
                    <th>Inspector</th>
                    <th>Date</th>
                    <th>Hazard</th>
                </tr>
                <tr>
                    <td>Automotive - TCO2</td>
                    <td>Smith</td>
                    <td>2017/01/19</td>
                    <td>Oil Spill</td>

                </tr>
                <tr>
                    <td>Electrical - TC76</td>
                    <td>Jackson</td>
                    <td>2017/05/22</td>
                    <td>Shock Danger</td>
                </tr>
            </table>
            </div>
            @*--------------*@
        
    </div>
<hr />
<h2>Notifications</h2>Lorem ipsum dolor sit amet, aptent in magnam nec at ut ligula, dictum vestibulum augue. Id platea tincidunt tempor. Sit erat ac elit lectus commodo feugiat, mi non molestie praesent ullamco pellentesque duis, sed vestibulum neque ac faucibus diam. Egestas non ut, ridiculus tellus. Wisi lectus blandit lectus quis dui. Nec morbi platea tempor mauris eu, varius tortor luctus sit adipiscing senectus. Eget commodo lobortis nulla ligula, adipiscing quis est egestas, vitae hymenaeos at fusce, pellentesque ipsum vel eros quis, nam lacus in tincidunt amet. Eget aliquam, ad dui sapien ipsum placerat. Magna enim duis donec, proin arcu dolor et ullamcorper phasellus asperiores, sit ante cursus, leo amet sed suspendisse ipsum, eros eros non. Urna commodo purus, nullam vel, iaculis interdum, sed eros vestibulum amet, ac cursus natoque congue suscipit mauris sed. Sed euismod suspendisse felis ac, aptent tempor sagittis aenean faucibus eu tortor.
<h2>Administration Requests</h2>Lorem ipsum dolor sit amet, aptent in magnam nec at ut ligula, dictum vestibulum augue. Id platea tincidunt tempor. Sit erat ac elit lectus commodo feugiat, mi non molestie praesent ullamco pellentesque duis, sed vestibulum neque ac faucibus diam. Egestas non ut, ridiculus tellus. Wisi lectus blandit lectus quis dui. Nec morbi platea tempor mauris eu, varius tortor luctus sit adipiscing senectus. Eget commodo lobortis nulla ligula, adipiscing quis est egestas, vitae hymenaeos at fusce, pellentesque ipsum vel eros quis, nam lacus in tincidunt amet. Eget aliquam, ad dui sapien ipsum placerat. Magna enim duis donec, proin arcu dolor et ullamcorper phasellus asperiores, sit ante cursus, leo amet sed suspendisse ipsum, eros eros non. Urna commodo purus, nullam vel, iaculis interdum, sed eros vestibulum amet, ac cursus natoque congue suscipit mauris sed. Sed euismod suspendisse felis ac, aptent tempor sagittis aenean faucibus eu tortor.
