@{
    ViewBag.Title = "Home Page";
}


<div class="container">

    <div>

    </div>

    <div class="section">
        <div class="row" id="dataCircles">
            <div class="col-xs-4">
                <div id="circle1" data-animation="1" data-animationStep="5" data-percent="@ViewBag.SafetyPercentage"></div>
            </div>
            <div class="col-xs-4">
                <div id="circle2" data-animation="1" data-animationStep="5" data-percent="97"></div>
            </div>
            <div class="col-xs-4">
                <div id="circle3" data-animation="1" data-animationStep="5" data-percent="33"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <div class="section">
                <h2>Quick Inspection</h2>
                <hr />
                <div id="table-wrapper">
                    <div id="table-scroll">
                        <table class="table-cust" style="height:150px;overflow:auto;">
                            <thead>
                                <tr>
                                    <th>Lab</th>
                                    <th>Location</th>
                                    <th>Scheduled</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>TC02</td>
                                    <td>s201</td>
                                    <td>2017/07/12</td>
                                </tr>
                                <tr>
                                    <td>TC12</td>
                                    <td>s204</td>
                                    <td>2017/09/16</td>
                                </tr>
                                <tr>
                                    <td>TC12</td>
                                    <td>s204</td>
                                    <td>2017/09/16</td>
                                </tr>
                                <tr>
                                    <td>TC12</td>
                                    <td>s204</td>
                                    <td>2017/09/16</td>
                                </tr>
                                <tr>
                                    <td>TC12</td>
                                    <td>s204</td>
                                    <td>2017/09/16</td>
                                </tr>
                                <tr>
                                    <td>TC12</td>
                                    <td>s204</td>
                                    <td>2017/09/16</td>
                                </tr>
                                <tr>
                                    <td>TC12</td>
                                    <td>s204</td>
                                    <td>2017/09/16</td>
                                </tr>
                                <tr>
                                    <td>TC12</td>
                                    <td>s204</td>
                                    <td>2017/09/16</td>
                                </tr>
                                <tr>
                                    <td>TC12</td>
                                    <td>s204</td>
                                    <td>2017/09/16</td>
                                </tr>
                                <tr>
                                    <td>TC12</td>
                                    <td>s204</td>
                                    <td>2017/09/16</td>
                                </tr>
                                <tr>
                                    <td>TC12</td>
                                    <td>s204</td>
                                    <td>2017/09/16</td>
                                </tr>
                                <tr>
                                    <td>TC12</td>
                                    <td>s204</td>
                                    <td>2017/09/16</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-xs-4" style="padding-left: 0px;">
            <div class="section">
                <h2>Alerts!</h2>
                <hr />
                <table class="table-cust">
                    <tr>
                        <th>Title</th>
                        <th></th>
                        <th>By</th>
                    </tr>
                    <tr>
                        <td>Electrical</td>
                        <td>No hanging wires in...</td>
                        <td>Jim</td>
                    </tr>
                    <tr>
                        <td>Automotive</td>
                        <td>Oil spills must be....</td>
                        <td>Sarah</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>




</div>


























